.eventformcontainer{
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    font-family: sans-serif;
    padding-top: 100px;
    transition: all 0.3s ease-in;
    height: 0vh;
    width: 100vw;
    z-index: 100;
}
.showformcontainer{
    display: flex;
    height: 100vh;
}
.formContainer{
    background-color: transparent;
}
.eventform{
    display: none;
    position: relative;
    width: fit-content;
    max-width: 400px;
    min-height: 450px;
    height: fit-content;
    padding: 10px;
    padding-top: 20px;
    border-radius: 20px;
    transition: all 0.3s ease-in;
    opacity: 0;
    /* background-color: rgba(1, 26, 34, 0.5); */
    background-color: rgba(40, 29, 70, 0.8);
    backdrop-filter: blur(3px);
    z-index: 101;
}
.eventform>h1{
color: rgb(153, 95, 8);
}
.showeventform{
    display: flex;
    flex-direction: column;
    opacity: 1;
}
.eventform>svg{
    position: absolute;
    color: white;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}
.eventformbackground{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(27, 27, 88, 0.5);
    backdrop-filter: blur(5px);
}
.section{
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: grey;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    font-family: sans-serif;
}
.content{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.headboard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 10px;
    position: relative;
    height: 150px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 0 0 100px 100px;
    background-color: rgba(27, 27, 88, 0.4);
    backdrop-filter: blur(3px);
    z-index: 1;
}
.upper_headboard{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.upper_headboard>svg{
    font-size: 1.5rem;
}
.upper_headboard>svg:nth-of-type(2){
    font-size: 2rem;
}
.lower_headboard{
    display: flex;
    justify-content: center;
    width: 100%;
}
.lower_headboard .searchbar{
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchbar input{
    padding: 3px 10px;
    background-color: transparent;
    border-radius: 100px;
    font-size: 1rem;
    color: white;
    border: 1px solid pink;
    outline: none;
}
.floaters{
    display: flex;
    width: 100%;
    justify-content: center;
    /* gap: 20%; */
    position: absolute;
    bottom: -10px;
}

.floaters>div{
    display: flex;
    align-items:center;
    gap: 10px;
    color: white;
    cursor: pointer;
    background-color: rgb(35, 126, 95);
    padding: 10px 13px;
    border-radius: 10px 0 0 10px;
}
.floaters>div:nth-of-type(2){
    border-radius: 0 10px 10px 0;
    background-color: rgb(134, 11, 93);
}
.eventcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 30px 10px 30px;
}

.heading{
    display: flex;
    align-items: center;
    width: 50vw;
    min-width: 200px;
    justify-content: space-between;
}

.cardcontainer{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    width: 50vw;
    padding: 10px 10px 10px 0;
    min-width: 280px;
    border-radius: 10px;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 20px;
    overscroll-behavior-inline:contain ;
    gap: 10px;
    color: rgb(185, 185, 185);
    overflow-x: scroll;
}

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(48, 48, 48, 0.596);
    cursor: pointer;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    scroll-snap-align: start;
}
.card>img{
    width: 100%;
    height: 90px;
    border-radius: 7px;
}
.card>h4{
    font-size: 0.9rem;
    height: 50px;
    margin-top: 10px;
}
.date, .datesvg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(184, 153, 147);
    padding: 5px;
    top: 5px;
    font-size: 0.8rem;
    border-radius: 10px;
    color: rgb(165, 70, 53);
}
.datesvg{
    right: 10px;
    font-size: 1.6rem;
    background-color: rgb(120, 120, 177);
    color: blue;
}

.participant{
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 135px;
    justify-content: space-between;
    margin-bottom: 20px;
    color: rgb(126, 126, 253);
}
.participant>div>img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}
.participant>div>img:nth-of-type(2){
    left: 15px;
    z-index: 1;
}
.participant>div>img:nth-of-type(3){
    left: 30px;
    z-index: 2;
}
.location{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 1.5rem;
    justify-content: space-between;
}
.location>h5{
    font-size: 0.6rem;
    color: gray;
}

@media screen and (max-width:900px){
    .section{
        display: flex;
        flex-direction: column;
    }
    .headboard{
        border-radius: 0 0 50px 50px;
    }
    .heading>h3{
        font-size: 0.9rem;
    }
    .heading>p{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:375px){
    .heading{
        width: 100%;
    }
}
