.container{
    background-color: rgb(14, 0, 37);
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

.particles{
    z-index: 0;
}
.nav{
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 50px 10px 25px;
    color: white;
    background-color: rgba(46, 46, 46, 0.5);
    backdrop-filter: blur(4px);
    width: 100vw;
    z-index: 100;
}
.nav .logo{
    height: 50px;
    width: 60px;
    cursor: pointer;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}
.nav ul li{
    cursor: pointer;
}
.nav ul li:hover{
    color: greenyellow;
}

.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15vh;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    font-family: sans-serif;
}
.section_flex_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 20px;
    padding-top: 30vh;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    font-family: sans-serif;
}

.section_flex_center h2{
    color: rgb(160, 160, 160);
    text-align: center;
    margin: 10px 15px;
}
.section_flex_center h3{
    color: rgb(160, 160, 160);
    text-align: center;
    margin: 10px 15px;
}
.section_flex_center h3 span{
    font-style: italic;
    color: rgb(26, 148, 107);
}

.section_flex_center p{
    margin: 8px;
    color: gray;
    text-align: center;
}
.section_flex_center p span{
    color: aqua;
    cursor: pointer;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    padding-top: 35vh;
}

.left h1{
    text-align: center;
    opacity: 0;
    animation-name: moveUp;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    letter-spacing: 5px;
    color: rgb(211, 211, 211);
}

.left h3{
    animation-name: moveLeft;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin: -5px 0 -5px 0;
    color: rgb(121, 121, 121);
}
.left h3:nth-of-type(2){
    font-size: 0.9rem;
    animation-name: moveDown;
    animation-delay: 3s;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    padding-top: 5vh;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 250px;
    max-width: 400px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(40, 29, 70, 0.3);
    padding: 20px 0px;
    opacity: 0;
    backdrop-filter: blur(2px);
    z-index: 1;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.formContainer .stepTabs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 10px 0;
    width: 100%;
    padding: 8px;
    font-size: 0.9rem;
    background-color: rgb(65, 65, 65, 0.5);
}
.formContainer .stepTabs h3{
    color: rgb(71, 71, 71);
}
.formContainer .stepTabs .active{
    color: rgb(139, 139, 139);
}
.formContainer .stepTabs h3{
    pointer-events: none;
}
.formContainer h1{
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin-bottom: 5px;
    color: grey;
}

.formContainer h5{
    color: rgb(216, 215, 215);
    text-align: left;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    padding-left: 5%;
}
.formContainer p{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: grey;
}
.formContainer p span{
    color: turquoise;
    cursor: pointer;
}

.general_details,.account_details{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 10px 15px 3px 15px;
}
.account_details h5{
    color: rgb(95, 95, 95);
    margin-top: -5px;
    margin-bottom: 10px;
}
.account_details>h6{
    color: tomato;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    margin-top: -10px;
}
.general_details h6{
    color: tomato;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    margin-top: -10px;
}
.formContainer label{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 5px;
    width: 100%;
    font-size: 0.85rem;
    color: rgb(156, 156, 156);
}
.formContainer label input{
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    outline: none;
    min-width: 215px;
    width: 100%;
    background-color:rgb(14, 0, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(247, 189, 189);
    font-weight: 100;
}
.formContainer .expiration_input{
    display: flex;
    gap: 15px;
}
.formContainer>h6{
    color: tomato;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
    margin: 10px 5px;
}
.formContainer .expiration_input input {
    min-width: 50%;
}
.formContainer .back_skip_btns{
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}
.formContainer .back_skip_btns>button{
    background-color: rgba(46, 56, 53, 0.4);
    color: rgb(138, 138, 138);
}
.formContainer .back_skip_btns>button:hover{
    background-color: rgba(77, 90, 86, 0.4);
}
.formContainer .btn{
    width: 100%;
    padding: 10px;
    margin-bottom: -10px;
    border-radius: 5px;
    background-color: rgba(1, 58, 40, 0.4);
    cursor: pointer;
    border: none;
    letter-spacing: 7px;
    color: white;
}
.formContainer .btn:hover{
    background-color: rgba(6, 88, 62, 0.4);
    color: rgb(255, 255, 255);
}

.formContainer .btn:disabled{
    background-color: rgba(66, 66, 66, 0.4);
}
@keyframes moveUp{
    0%{transform: translateY(100px); opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}
@keyframes moveDown{
    0%{transform: translateY(-50px); opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}
@keyframes moveLeft{
    0%{transform: translateX(100px); opacity: 0;}
    100%{transform: translateX(0px); opacity: 1;}
}
@keyframes moveRight{
    0%{transform: translateX(-50px); opacity: 0;}
    100%{transform: translateX(0px); opacity: 1;}
}
@keyframes appear{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@media screen and (max-width:900px){
    .section{
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
        gap: 30px;
    }
    .section .left{
        padding-top: 10vh;
    }
}
